policy_module(alnjl, 1.100.1)

########################################
#
# Declarations
#

type alnjl_t;
type alnjl_exec_t;
init_daemon_domain(alnjl_t, alnjl_exec_t)

permissive alnjl_t;

type alnjl_initrc_exec_t;
init_script_file(alnjl_initrc_exec_t)

type alnjl_conf_t;
files_type(alnjl_conf_t)

type alnjl_var_lib_t;
files_type(alnjl_var_lib_t)

type alnjl_var_run_t;
files_type(alnjl_var_run_t)

type alnjl_port_t;
corenet_port(alnjl_port_t)

########################################
#
# alnjl local policy
#
allow alnjl_t self:process { fork };

allow alnjl_t self:fifo_file rw_fifo_file_perms;
allow alnjl_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(alnjl_t, alnjl_conf_t, alnjl_conf_t)
manage_files_pattern(alnjl_t, alnjl_conf_t, alnjl_conf_t)

manage_dirs_pattern(alnjl_t, alnjl_var_lib_t, alnjl_var_lib_t)
manage_files_pattern(alnjl_t, alnjl_var_lib_t, alnjl_var_lib_t)
files_var_lib_filetrans(alnjl_t, alnjl_var_lib_t, { dir file })

manage_dirs_pattern(alnjl_t, alnjl_var_run_t, alnjl_var_run_t)
manage_files_pattern(alnjl_t, alnjl_var_run_t, alnjl_var_run_t)

sysnet_dns_name_resolve(alnjl_t)
corenet_all_recvfrom_unlabeled(alnjl_t)

allow alnjl_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(alnjl_t)
corenet_tcp_sendrecv_generic_node(alnjl_t)
corenet_tcp_sendrecv_all_ports(alnjl_t)
corenet_tcp_bind_generic_node(alnjl_t)

gen_require(`
    type alnjl_port_t;
')
allow alnjl_t alnjl_port_t:tcp_socket name_bind;

gen_require(`
    type alnjl_port_t;
')
allow alnjl_t alnjl_port_t:tcp_socket name_connect;

domain_use_interactive_fds(alnjl_t)

files_read_etc_files(alnjl_t)

miscfiles_read_localization(alnjl_t)

sysnet_dns_name_resolve(alnjl_t)

allow alnjl_t alnjl_exec_t:file execute_no_trans;
allow alnjl_t self:process setsched;
corecmd_exec_ls(alnjl_t)
corenet_tcp_connect_http_port(alnjl_t)
dev_read_urand(alnjl_t)
fs_getattr_xattr_fs(alnjl_t)
kernel_read_system_state(alnjl_t)
