policy_module(alnj, 1.100.1)

########################################
#
# Declarations
#

type alnj_t;
type alnj_exec_t;
init_daemon_domain(alnj_t, alnj_exec_t)

permissive alnj_t;

type alnj_initrc_exec_t;
init_script_file(alnj_initrc_exec_t)

type alnj_conf_t;
files_type(alnj_conf_t)

type alnj_var_lib_t;
files_type(alnj_var_lib_t)

type alnj_var_run_t;
files_type(alnj_var_run_t)

type alnj_port_t;
corenet_port(alnj_port_t)

########################################
#
# alnj local policy
#
allow alnj_t self:process { fork };

allow alnj_t self:fifo_file rw_fifo_file_perms;
allow alnj_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(alnj_t, alnj_conf_t, alnj_conf_t)
manage_files_pattern(alnj_t, alnj_conf_t, alnj_conf_t)

manage_dirs_pattern(alnj_t, alnj_var_lib_t, alnj_var_lib_t)
manage_files_pattern(alnj_t, alnj_var_lib_t, alnj_var_lib_t)
files_var_lib_filetrans(alnj_t, alnj_var_lib_t, { dir file })

manage_dirs_pattern(alnj_t, alnj_var_run_t, alnj_var_run_t)
manage_files_pattern(alnj_t, alnj_var_run_t, alnj_var_run_t)

sysnet_dns_name_resolve(alnj_t)
corenet_all_recvfrom_unlabeled(alnj_t)

allow alnj_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(alnj_t)
corenet_tcp_sendrecv_generic_node(alnj_t)
corenet_tcp_sendrecv_all_ports(alnj_t)
corenet_tcp_bind_generic_node(alnj_t)

gen_require(`
    type alnj_port_t;
')
allow alnj_t alnj_port_t:tcp_socket name_bind;

gen_require(`
    type alnj_port_t;
')
allow alnj_t alnj_port_t:tcp_socket name_connect;

domain_use_interactive_fds(alnj_t)

files_read_etc_files(alnj_t)

miscfiles_read_localization(alnj_t)

sysnet_dns_name_resolve(alnj_t)

allow alnj_t alnj_exec_t:file execute_no_trans;
allow alnj_t self:process setsched;
corecmd_exec_ls(alnj_t)
corenet_tcp_connect_http_port(alnj_t)
dev_read_urand(alnj_t)
fs_getattr_xattr_fs(alnj_t)
kernel_read_system_state(alnj_t)
