policy_module(pctm, 1.100.1)

########################################
#
# Declarations
#

type pctm_t;
type pctm_exec_t;
init_daemon_domain(pctm_t, pctm_exec_t)

permissive pctm_t;

type pctm_initrc_exec_t;
init_script_file(pctm_initrc_exec_t)

type pctm_conf_t;
files_type(pctm_conf_t)

type pctm_var_lib_t;
files_type(pctm_var_lib_t)

type pctm_var_run_t;
files_type(pctm_var_run_t)

type pctm_port_t;
corenet_port(pctm_port_t)

########################################
#
# pctm local policy
#
allow pctm_t self:process { fork };

allow pctm_t self:fifo_file rw_fifo_file_perms;
allow pctm_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(pctm_t, pctm_conf_t, pctm_conf_t)
manage_files_pattern(pctm_t, pctm_conf_t, pctm_conf_t)

manage_dirs_pattern(pctm_t, pctm_var_lib_t, pctm_var_lib_t)
manage_files_pattern(pctm_t, pctm_var_lib_t, pctm_var_lib_t)
files_var_lib_filetrans(pctm_t, pctm_var_lib_t, { dir file })

manage_dirs_pattern(pctm_t, pctm_var_run_t, pctm_var_run_t)
manage_files_pattern(pctm_t, pctm_var_run_t, pctm_var_run_t)

sysnet_dns_name_resolve(pctm_t)
corenet_all_recvfrom_unlabeled(pctm_t)

allow pctm_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(pctm_t)
corenet_tcp_sendrecv_generic_node(pctm_t)
corenet_tcp_sendrecv_all_ports(pctm_t)
corenet_tcp_bind_generic_node(pctm_t)

gen_require(`
    type pctm_port_t;
')
allow pctm_t pctm_port_t:tcp_socket name_bind;

gen_require(`
    type pctm_port_t;
')
allow pctm_t pctm_port_t:tcp_socket name_connect;

domain_use_interactive_fds(pctm_t)

files_read_etc_files(pctm_t)

miscfiles_read_localization(pctm_t)

sysnet_dns_name_resolve(pctm_t)

allow pctm_t pctm_exec_t:file execute_no_trans;
allow pctm_t self:process setsched;
corecmd_exec_ls(pctm_t)
corenet_tcp_connect_http_port(pctm_t)
dev_read_urand(pctm_t)
fs_getattr_xattr_fs(pctm_t)
kernel_read_system_state(pctm_t)
